@import "tailwindcss";
@layer theme, base, components, utilities;
@theme {
    --container-3xs: 16rem;
    --container-2xs: 18rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 30rem;
    --container-lg: 34rem;
    --container-xl: 38rem;
    --container-2xl: 38rem;
    --container-3xl: 42rem;
    --container-4xl: 44rem;
    --container-5xl: 52rem;
    --container-6xl: 64rem;
    --container-7xl: 70rem;

    --text-xs: 0.65rem;
    --text-xs--line-height: calc(1 / 0.68);
    --text-sm: 0.76562rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base: 0.984rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.09rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.3125rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.625rem;
    --text-4xl--line-height: calc(2.75 / 2.5);
    --text-5xl: 3.28125rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.5rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6.125rem;
    --text-8xl--line-height: 1;
    --text-9xl: 8rem;
    --text-9xl--line-height: 1;
  
}
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);